<app-fl-header appName="Bank app" login="RBC" className="bank">
  <div>
    <h2>Your balance</h2>
    <div class="fees">
      <span class="fees-container">
        Your balance: <span class="fees-value positive">{{ businessUser.accountBalance }} $</span>
      </span>
    </div>
  </div>

  <div>
    <h2>All requests</h2>
    <div class="example-container mat-elevation-z2">
      <mat-table #table [dataSource]="securityLandingContracts">
        <ng-container matColumnDef="borrower">
          <mat-header-cell *matHeaderCellDef> Borrower</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.borrower.split('#')[1] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instrument">
          <mat-header-cell *matHeaderCellDef> Instrument</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.instrument.split('#')[1] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.startDate | date: 'dd/MM/yyyy HH:mm'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef> End date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.endDate | date: 'dd/MM/yyyy HH:mm'}} -
            <app-final-countdown [endDate]="element.endDate"></app-final-countdown>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsSecurityLandingContracts"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsSecurityLandingContracts;"
                 class="click" [class.selected]="row?.id === selectedSecurityLandingContract?.id"
                 (click)="selectSecurityLandingContracts(row)"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="offer-detail" *ngIf="selectedSecurityLandingContract">
    <h2>Answer to request &laquo; {{selectedSecurityLandingContract.id}} &raquo;</h2>
    <div class="offer-answer-form mat-elevation-z8">
      <form [formGroup]="newOffer" (submit)="submitOffer(newOffer)" novalidate class="rbc-form">

        <mat-form-field class="full-width">
          <input formControlName="expirationDate" matInput placeholder="Expiration date" type="datetime-local">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input formControlName="fees" matInput placeholder="Fees" type="number">
        </mat-form-field>

        <mat-radio-group matInput formControlName="feesFrequency" class="radio-group">
          <h3 mat-subheader>Fee frequency:</h3>
          <mat-radio-button class="radio-button" value="AT_CONTRACT_END">At the end of the contract</mat-radio-button>
          <mat-radio-button class="radio-button" value="SEC_10">Every 10 seconds</mat-radio-button>
          <mat-radio-button class="radio-button" value="SEC_20">Every 20 seconds</mat-radio-button>
          <mat-radio-button class="radio-button" value="SEC_30">Every 30 seconds</mat-radio-button>
        </mat-radio-group>
        <div style="padding: 10px;">
          <button mat-raised-button color="primary" type="submit">
            Create new offer
            <app-fl-spinner [showSpinner]="creationInProgress"></app-fl-spinner>
          </button>
          <button mat-raised-button color="warn" (click)="selectedSecurityLandingContract = undefined">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</app-fl-header>
