<div class="home">
  <div>
    <h1>Foxy Lazers</h1>
    <p>Blockchain Securities Lending demonstration</p>
    <span (mouseenter) ="isInPicture = true"  (mouseleave) ="isInPicture = false">
      <img *ngIf="!isInPicture" width="200" src="assets/img/fox.png">
      <img *ngIf="isInPicture" width="200" src="assets/img/foxy_lazer_t.png">
    </span>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/rbc" routerLinkActive="active">RBC app</a>
    <a mat-tab-link routerLink="/borrower" routerLinkActive="active">Borrower app</a>
  </nav>
</div>
