@import "../../variables";

$nav-border-width: 0.3rem;

div.home {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;

  .menu-item-left {
    border-top: $nav-border-width solid $color2;
    &:hover {
      border-top: $nav-border-width solid $color-bank;
    }
  }
  .menu-item-right {
    border-top: $nav-border-width solid $color2;
    &:hover {
      border-top: $nav-border-width solid $color-borrower;
    }
  }
}

img {
  margin: 2rem;
  width: 200px;
}
