<div class="home">
  <div>
    <h1>Foxy Lazers</h1>
    <p>
      Blockchain Securities Lending demonstration
      <br />
      <a routerLink="/tell-me-more">tell me more &raquo;</a>
    </p>
    <span>
      <img (dblclick)="foxDouble()" [src]="'assets/img/foxy' + hovered + '.png'" />
    </span>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/bank" routerLinkActive="active" class="menu-item-left"
       (mouseover)="mouseOver('_l')" (mouseleave)="mouseLeave()">
      <mat-icon>account_balance</mat-icon><br />Bank app
    </a>
    <a mat-tab-link routerLink="/borrower" routerLinkActive="active" class="menu-item-right"
       (mouseover)="mouseOver('_r')" (mouseleave)="mouseLeave()">
      <mat-icon>card_travel</mat-icon><br />Borrower app
    </a>
  </nav>
</div>
