<div class="home">
  <div>
    <h1>Foxy Lazers</h1>
    <p>Blockchain Securities Lending demonstration</p>
    <span>
      <img (dblclick)="foxDouble()" [src]="'assets/img/foxy' + hovered + '.png'" />
    </span>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/bank" routerLinkActive="active" class="menu-item-left"
       (mouseover)="mouseOver('_l')" (mouseleave)="mouseLeave()">Bank app</a>
    <a mat-tab-link routerLink="/borrower" routerLinkActive="active" class="menu-item-right"
       (mouseover)="mouseOver('_r')" (mouseleave)="mouseLeave()">Borrower app</a>
  </nav>
</div>
