@import "../../variables";

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.form {
  width: 300px;

  app-fl-spinner {
    position: absolute;
  }
}


.fees {
  .fees-container {
    display: inline-block;
    border: 0.1rem dashed $color2;
    background-color: rgba(216, 156, 70, 0.15);
    padding: 1rem 1.8rem;
    margin-right: 0.5rem;
    color: $color3;
    font-weight: 400;

    .fees-value {
      color: $color4;
    }
  }
}

mat-table mat-row mat-icon.action {
  display: none;
}

mat-table mat-row:hover mat-icon.action {
  display: inline;
}
