<app-fl-header appName="Borrower app" [login]="currentBorrower" className="borrower">

  <div>
    <h2>Your balance</h2>
    <div class="fees">
      <span class="fees-container" *ngIf="businessUser !== undefined">
        Your balance: <span class="fees-value positive">{{ businessUser.accountBalance }} $</span>
      </span>
      <span class="fees-container">
        <span class="fees-value negative">-{{ feesDue().perSecond }} $</span> / second
      </span>
      <span class="fees-container">
        <span class="fees-value negative">-{{ feesDue().atContractEnd }} $</span> at contract end
      </span>
    </div>
  </div>

  <div>
    <h2>New lending request</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Create new lending request&hellip;</span>
        </mat-expansion-panel-header>
        <form [formGroup]="newLendingForm" novalidate class="form">
          <mat-form-field>
            <mat-select placeholder="Instrument" formControlName="instrument">
              <mat-option *ngFor="let instrument of instruments" [value]="instrument.isin">
                {{ instrument.isin }} ({{ instrument.description }})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="quantity" type="number" matInput placeholder="Quantity">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input formControlName="startDate" matInput placeholder="Start date" type="datetime-local">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input formControlName="endDate" matInput placeholder="End date" type="datetime-local">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="createLendingRequest()">
            Create lending request
            <app-fl-spinner [showSpinner]="creationInProgress"></app-fl-spinner>
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div>
    <h2>Requests emitted</h2>
    <div class="example-container mat-elevation-z2">
      <mat-table #table [dataSource]="dataSourceRequestsEmitted">
        <ng-container matColumnDef="instrument">
          <mat-header-cell *matHeaderCellDef> Instrument </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.instrument.split('#')[1] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.startDate | date: 'dd/MM/yyyy HH:mm' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.endDate | date: 'dd/MM/yyyy HH:mm' }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsRequestsEmitted"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsRequestsEmitted;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div>
    <h2>Offers awaiting validation</h2>
    <div class="example-container mat-elevation-z2">
      <mat-table #table [dataSource]="dataSourceAwaitingValidationOffers">
        <!--<ng-container matColumnDef="instrument">-->
          <!--<mat-header-cell *matHeaderCellDef> Instrument </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">{{ element.instrument.isin }} - {{ element.instrument.description }}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="bank">-->
          <!--<mat-header-cell *matHeaderCellDef> Bank </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">{{ element.bank.name }} </mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="startDate">-->
          <!--<mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">{{ element.startDate }}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="endDate">-->
          <!--<mat-header-cell *matHeaderCellDef> End date </mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">{{ element.endDate }}</mat-cell>-->
        <!--</ng-container>-->

        <ng-container matColumnDef="securityLendingContract">
          <mat-header-cell *matHeaderCellDef> Contract </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.securityLendingContract.split('#')[1] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bank">
          <mat-header-cell *matHeaderCellDef> Bank </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.bank.split('#')[1]  }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fees">
          <mat-header-cell *matHeaderCellDef> Fees </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.fees }} $</mat-cell>
        </ng-container>

        <ng-container matColumnDef="feesFrequency">
          <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ tranlateFeesFrequency(element.feesFrequency) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="expirationDate">
          <mat-header-cell *matHeaderCellDef> Expiration date </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.expirationDate | date: 'dd/MM/yyyy HH:mm' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon (click)="validateOffer(element)" class="positive click action">done</mat-icon>
            <mat-icon (click)="rejectOffer(element)" class="negative click action">clear</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsAwaitingValidationOffers"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsAwaitingValidationOffers;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div>
    <h2>Offers active</h2>
    <div class="example-container mat-elevation-z2">
      <mat-table #table [dataSource]="dataSourceActiveOffers">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsActiveOffers"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsActiveOffers;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div>
    <h2>Portfolio</h2>
    ...
  </div>

</app-fl-header>
