@import "../../variables";

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.form {
  width: 300px;
}


.fees {
  span.fees-container {
    display: inline-block;
    //background-color: $color4;
    border: 0.3rem solid $color3;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    color: $color3;
    font-weight: 400;

    span.fees-value {
      color: $color4;
      font-weight: 800;
    }
  }
}

