<app-fl-header appName="Borrower app" [login]="currentBorrower" className="borrower">

  <div>
    <h2>Your balance</h2>
    <div class="fees">
      <span class="fees-container">Your balance: <span class="fees-value positive">{{ businessUser.accountBalance }} $</span></span>
      <span class="fees-container"><span class="fees-value negative">-{{ feesDue().perSecond }} $</span> / second</span>
      <span class="fees-container"><span
        class="fees-value negative">-{{ feesDue().atContractEnd }} $</span> at contract end</span>
    </div>
  </div>

  <div>
    <h2>New lending request</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Create new lending request&hellip;</span>
        </mat-expansion-panel-header>
        <form [formGroup]="newLendingForm" novalidate class="form">
          <mat-form-field>
            <mat-select placeholder="Instrument" formControlName="instrument">
              <mat-option *ngFor="let instrument of instruments" [value]="instrument.isin">
                {{ instrument.isin }} ({{ instrument.description }})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="quantity" type="number" matInput placeholder="Quantity">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input formControlName="startDate" matInput placeholder="Start date" type="datetime-local">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input formControlName="endDate" matInput placeholder="End date" type="datetime-local">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="createLendingRequest()">
            Create lending request
            <app-fl-spinner [showSpinner]="creationInProgress"></app-fl-spinner>
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div>
    <h2>Requests emitted</h2>
    ...
  </div>

  <div>
    <h2>Offers awaiting validation</h2>
    ...
  </div>

  <div>
    <h2>Offers active</h2>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSourceActiveOffers">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsActiveOffers"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsActiveOffers;"></mat-row>
      </mat-table>
    </div>
  </div>

  <!--<div>-->
    <!--<h2>All offers</h2>-->
    <!--<div class="example-container mat-elevation-z8">-->
      <!--<mat-table #table [dataSource]="dataSource">-->
        <!--<ng-container matColumnDef="id">-->
          <!--<mat-header-cell *matHeaderCellDef> ID</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="name">-->
          <!--<mat-header-cell *matHeaderCellDef> Name</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="isin">-->
          <!--<mat-header-cell *matHeaderCellDef> ISIN</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element"> {{element.isin}}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="quantity">-->
          <!--<mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>-->
        <!--</ng-container>-->

        <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
        <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
      <!--</mat-table>-->
    <!--</div>-->
  <!--</div>-->

</app-fl-header>
