@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: $color4;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}

h2 {
  margin-top: 2rem;
  color: $color3;
  font-variant: small-caps;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
}

p {
  color: #444;
}

body {
  background-color: $color-body;
  font-family: 'Open Sans', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}

// Navigation
nav {
  margin-top: 1rem;
  text-align: center;

  a {
    cursor: pointer;
    display: inline-block;
    color: $color4;
    background-color: $color2;
    padding: 1rem 2rem;
    width: 8rem;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      background-color: $color3;
      color: $color1;
    }
  }
}

.positive {
  color: green !important;
}
.negative {
  color: red !important;
}

.click {
  cursor: pointer;
}

mat-table {
  background-color: rgba(180, 180, 180, 0.3) !important;
}
mat-cell {
  color: $color4 !important;
}
mat-expansion-panel {
  background-color: rgba(180, 180, 180, 0.3) !important;
}


.fees {
  .fees-container {
    display: inline-block;
    border: 0.1rem dashed $color2;
    background-color: rgba(216, 156, 70, 0.15);
    padding: 1rem 1.4rem;
    margin-right: 0.2rem;
    color: $color3;
    font-weight: 400;

    .fees-value {
      color: $color4;
    }
  }
}
