@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: $color4;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}

h2 {
  color: $color3;
}

p {
  color: #444;
}

body {
  background-color: $color-body;
  font-family: 'Open Sans', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}

// Navigation
nav {
  margin-top: 1rem;
  text-align: center;

  a {
    cursor: pointer;
    display: inline-block;
    color: $color4;
    background-color: $color2;
    padding: 1rem 2rem;
    width: 8rem;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      background-color: $color3;
      color: $color1;
    }
  }
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color4;
  padding: 0.5rem 0.3rem;
  color: $color2;

  .app-name {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 1rem;
    letter-spacing: 0.2rem;
  }

  .login {
    font-size: 0.8rem;

    .login-name {
      font-style: italic;
    }
  }

  a {
    font-size: 0.8rem;
    color: $color1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.below-topbar {
  margin-top: 4.5rem;
}
