$color1: #F1E1C8;
$color2: #D89C46;
$color3: #736038;
$color4: #573F1D;
$color5: #2A180A;

$color-body: $color1;

$color-bank: #F8FF4C;
$color-borrower: #43F354;

$feesBackground: rgba(216, 156, 70, 0.15);
